<h1><center>Doge Coin Calculator<center></h1>
<center>
<h3>Total Price Calculation</h3>

<%= form_with url: '/', method: :get, local: true do |form|%>
  <%= form.hidden_field :cost_calculation %>
  <%=form.label :price, 'Doge Coin Price'%>
  <%=form.number_field :price, step: 0.001, min: 0,  required: true%><br><br>
  <%=form.label :quanity, 'Quantity of Coins' %>
  <%=form.number_field :quantity, step: 0.001, min: 0, required: true%><br><br>
  <%=form.submit 'Calculate'%>
<%end%>

<% if params[:cost_calculation] %>
   <h3>Total Cost</h3>
   <p> <%= number_to_currency(@info) %> for <%= number_with_delimiter(params[:quantity], :delimiter => ',') %> coins at the price of <%= number_to_currency(params[:price]) %></p>
<%end%>

<h3> Calculate Your Profit and Lost </h3>
<%= form_with url: '/', method: :get, local: true do |form|%>
  <%= form.hidden_field :profit_and_lost %>
  <%=form.label :bought_price, 'Price you bought coins at'%>
  <%=form.number_field :bought_price, step: 0.001, min: 0,  required: true%><br><br>
  <%=form.label :current_price, 'current coin price'%>
  <%=form.number_field :current_price, step: 0.001, min: 0,  required: true%><br><br>
  <%=form.label :quanity, 'Quantity of Coins' %>
  <%=form.number_field :quantity, step: 0.001, min: 0, required: true%><br><br>
  <%=form.submit 'Calculate'%>
<%end%>

<% if params[:profit_and_lost] %>
  <h3>Profit and Lost</h3>
  <p> Bought at: <%= number_to_currency(params[:bought_price]) %> </p>
  <p> Current Price at: <%= number_to_currency(params[:current_price]) %> </p>
  <p> Quantity: <%= number_with_delimiter(params[:quantity], :delimiter => ',') %></p>
  <p> Total Cost: <%= number_to_currency(@info[:total_cost]) %></p>
  <p> Total: <%= number_to_currency(@info[:total]) %></p>
  <p>Profit and Lost: <%= number_to_currency(@info[:profit_and_lost]) %></p>
<%end%>
<center>
